extends layout

block content
    br
    br
    .container
        br
        h2 Welcome to the k2-connect-node test app
        br
        h4 This example app shows you how to use the k2-connect-node module to consume KopoKopo's Api.
        h5 To Download the module from npm run the command:  npm install --save k2-connect-node
        br

        h5 Check out more on the Kopokopo's Documentation
        li
            a(href="https://github.com/kopokopo/k2-connect-node/blob/master/README.md") Check out Documentation
        