extends layout

block content

    br

    p !{message}
    .container
        .title.h3 Initialise a pay request
        br
        form(action="/pay", method="post")
            .form-group.row
                label.col-sm-2.col-form-label(for="destinationType") Destination Type
                .col-sm-7
                    select(name = "destinationType")
                        option(value="bank_account") Bank Account
                        option(value="mobile_wallet") Mobile Wallet
                        option(value="till") External Till
                        option(value="kopo_kopo_merchant") Kopo Kopo Merchant
            .form-group.row
                label.col-sm-2.col-form-label Destination Reference
                .col-sm-7
                    input.form-control(name="destinationReference", type='text', placeholder='Enter Destination Reference' required)
                    small.form-text.text-muted
                        | Destination Reference
            .form-group.row
                label.col-sm-2.col-form-label Amount
                .col-sm-7
                    input.form-control(name="amount", type='integer', placeholder='Enter Amount' required)
                    small.form-text.text-muted
                        | Enter Amount
            
            br
            .form-group.row
                .col-sm-7
                    button.btn.btn-success(type='submit') Send Pay