extends layout

block content

    br

    p !{message}
    .container
        .title.h3 Settle/Transfer Funds
        br
        form(action="/transfer", method="post")
            .form-group.row
                label.col-sm-2.col-form-label(for="destinationType") Destination Type
                .col-sm-7
                    select(name = "destinationType")
                        option(value="merchant_bank_account") Merchant Bank Account
                        option(value="merchant_wallet") Merchant Wallet
                        option(value="") Blind settlement
            .form-group.row
                label.col-sm-2.col-form-label Destination Reference
                .col-sm-7
                    input.form-control(name="destinationReference", type='text', placeholder='Enter Destination Reference')
                    small.form-text.text-muted
                        | Destination Reference
            .form-group.row
                label.col-sm-2.col-form-label Amount
                .col-sm-7
                    input.form-control(name="text", type='integer', placeholder='Enter Amount')
                    small.form-text.text-muted
                        | Enter Amount
            
            br
            .form-group.row
                .col-sm-7
                    button.btn.btn-success(type='submit') Transfer Funds